@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap');

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary: #00b289;
    --dark:#4c4d5f;
    --pure:#fff;
    --secondary:#f8db62;
}

body {
    font-family: 'Proximanova opt',sans-serif;
}

.section_p1 {
    padding: 24px 192px;
}



/*  Head Section */

#heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--pure);
    
}

.blue-shape._12 {
    top: -73%;
    right: -23%;
    width: 138%;
    height: 135%;
}

.blue-shape {
    position: absolute;
    left: 185px;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: -1;
    display: block;
    width: 56vw;
    height: 56vw;
    border-radius: 6.6vw;
    background-color: #f2faff;
    -webkit-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-27deg);
}

#heading .logo {
    margin-right: 96px;
    cursor: pointer;
}

#heading #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

#heading #navbar li {
    margin-right: 40px ;
    font-size: 16px;
    position: relative;
}

#heading #navbar li a {
    color: var(--dark);
    
}

#heading .login {
    padding: 8px 16px;
    border-radius: .3125rem;
    font-weight: 700;
    color: var(--primary);
    background-color: var(--pure);
    border: .0625rem solid var(--primary);
    transition: .3s ease;
    cursor: pointer;
}

#heading .login:hover {
    background-color: var(--primary);
    color: var(--pure);
}


#heading .free {
    padding: 8px 25px;
    margin-left: 16px;
    border-radius: .3125rem;
    font-weight: 700;
    color: var(--pure);
    background-color: var(--primary);
    border: .125rem solid var(--primary);
    cursor: pointer;
}





/* DROP DOWN MENU */

#navbar .Item__1:hover .sub__menu {
    display: block;
}

.sub__menu{
    top: 4px;
    display: none;
    position: absolute;
    background-color: var(--pure);
    width: 350px;
    max-width: 350px;
    left: -119px;
    margin-top: 1rem;
    text-align: start;
    box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
    z-index: 1;
    cursor: pointer;
    transition: .3s ease;
}

.sub__menu li  {
    width: 100%;
    padding: 2rem 2rem 0 2rem ;
    transition: .3s ease;
}

.sub__menu ul:nth-child(1):hover .content .icon {
    display: block;
}

.sub__menu li h5 {
    font-size: 1.5rem;
    color: var(--dark);
    margin-bottom: 1rem;
    
}

.sub__menu li:hover {
    background-color: #fbfcff;
}

.sub__menu .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.sub__menu .content {
    content: "";
    border-bottom: 2px solid rgb(212, 212, 212);
}

.sub__menu .content p {
    width: 280px;
    color: grey;
    line-height: 1.6; 
}

.sub__menu .content .icon {
    display: none;
    padding-right: 10px;
    transition: .5s ease;
    color: grey;
}



/* Templates dropdown */

#navbar .Item_2:hover .sub__templates {
    display: block;
}

#navbar .sub__templates {
    display: none;
    position: absolute;
    background-color: var(--pure);
    max-width: 350px;
    width: 350px;
    left: -80px;
    top: 20px;
    text-align: start;
    padding: 1rem 2rem 3rem 2rem;
    box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
    z-index: 1;
    cursor: pointer;
    transition: .3s ease;
}

.sub__templates ul li {
    width: 100%;
    display: flex;
    padding: 1.5rem;
}

.sub__templates ul li:hover {
    background-color: #fbfcff;
}

.sub__templates ul li .file_image {
    margin-right: 1rem;
}





/* HERO SECTION */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 160px;
}

#hero .plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.offer__image {
    position: absolute;
    right: -25px;
    top: -25px;
}

#hero .plan h3 {
    font-size: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 3rem;
    color: var(--dark);
}

#hero .plan .mon {
    color: var(--dark);
    font-weight: 550;
    margin-right: 2rem;
    margin-top: 1rem;
}

#hero .plan .year {
    margin-top: 1rem;
    color: var(--dark);
    font-weight: 550;
    font-size: 1rem;
    
}


/* toggle button */

.toggle {
    text-align: center;
    margin-top: 1rem;
    margin-right: 2rem;
}

.toggle input{
    display: none;
}

.toggle label {
    display: block;
    width: 60px;
    height: 30px;
    background-color: var(--primary);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.toggle label::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-color: var(--pure);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    left: 3px;
    transition:left 100ms linear;
}

.toggle input:checked + label:before {
    left: 32px;
}




#hero .deals {
    width: 100%;
    max-width: 70rem;
    text-align: start;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#hero .deals .box {
    width: 32%;
    padding: 5rem 2rem;
    border: 1px solid rgb(208, 207, 207);
    border-radius: 10px;
    background-color: #fbfcff;
    box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
}

#hero .box_ribbon {
    position: relative;
    overflow: hidden;
}

#hero .box_ribbon .ribbon {
    position: absolute;
    top: 59px;
    right: -97px;
    letter-spacing: 4px;
    width: 100%;
    text-align: center;
    transform: rotate(45deg);
    background-color: var(--primary);
    padding: 1rem 2rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--pure);
}

#hero .deals .box h4 {
    color: var(--dark);
    font-size: 1.625rem;
}

#hero .deals .box p {
    font-size: 14px;
    margin-top: 10px;
    color: var(--dark);
}

#hero .deals .box .price {
    margin: 2rem 0;
    border-bottom: 2px solid var(--primary);
    padding-bottom: 10px;
}

#hero .deals .box .price .sign {
    font-size: 2.5rem;
    vertical-align:  top;
    font-weight: 500;
    color: var(--dark);
    margin-right: .5rem;
}

#hero .deals .box .price .rate {
    font-size: 3.5rem;
    color: var(--dark);
    font-weight: 600;
    margin-right: .3rem;
}

#hero .deals .box .price .month {
    font-size: 1.3rem;
    font-weight: medium;
    color: var(--dark);
    vertical-align: bottom;
   
}

#hero .deals .box .content ul li {
    display: flex;
    margin-bottom: 1rem;
    color: var(--dark);
    letter-spacing: 1px;
}

#hero .deals .box .content ul li i {
    color: var(--primary);
    margin-right: 10px;
}

#hero .deals .box .btn {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#hero .deals .box .btn button {
    padding: 1rem 3rem;
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--pure);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    transition: .3s ease;
}

#hero .deals .box .btn button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

#hero .deals .box .btn1 {
    margin-top: 10.7rem;
}

#hero .deals .box .btn2 {
    padding-top: 5.7rem;
}



/*  CHARGE SECTION */

#charge {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#charge h4 {
    color: var(--dark);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#charge .wrapper {
    width: 100%;
}

#charge .wrapper .small_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 2rem;
    margin: 2rem 0;
    border-radius: 10px;
    background-color: #fbfcff;
    box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
}

#charge .wrapper .small_box h2 {
    color: var(--dark);
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

#charge .wrapper .small_box p {
    color: grey;
    font-size: 1rem;
    letter-spacing: 2px;
}

#charge .wrapper .small_box .free {
    text-align: center;
}

#charge .wrapper .small_box .free span{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--dark);
  
}

#charge .wrapper .small_box .free .month {
    margin-top: 10px;
    font-size: .8rem;
    color: grey;
    font-weight: 500;
}

#charge .wrapper .small_box .collab button {
    outline: none;
    border: none;
    margin-top: 15px;
    color: var(--primary);
    background-color: transparent;
    cursor: pointer;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 600;
}

#charge .wrapper .small_box .collab button:hover i {
    position: relative;
    animation-name: learn;
    animation-duration: 2s;
}

@keyframes learn {
    0% {
        left: 0px;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 10px;
    }

}



/* CALL TO ACTION */

#call_to_action {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#call_to_action .container {
    display: flex;
    align-items: center;
    background-color: #f2faff;
    padding: 5rem 2rem;
    border-radius: 10px;
    width: 55rem;
    max-width: 58rem;
}

#call_to_action .container .action {
    margin-right: 4rem;
}

#call_to_action .container .action p {
    font-size: 3rem;
    color: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#call_to_action .container .action p .span {
    color: var(--primary);
}

#call_to_action .container .f_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    width: 4rem;
    height: 4rem;
    padding: 2rem 5rem;
    white-space: nowrap;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--pure);
    background-color: var(--primary);
    cursor: pointer;
    transition: .3s ease;
}

#call_to_action .container .f_button:hover {
    filter: brightness(1.1);
}




/* FAQ SECTION */

#faq {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#faq h3 {
    font-size: 2em;
    color: var(--primary);
    margin: 3rem 0;
}

#faq .faq__box {
    max-width: 60%;
    margin-bottom: 1rem;
}

#faq .faq__box .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 1.1rem;
    cursor: pointer;
    transition: .4s ease;
}

#faq .faq__box .question p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark);
}

#faq .faq__box .question:hover p {
    color: var(--primary);
}

#faq .faq__box .answer {
    margin-top: .8rem;
    max-height: 0;
    overflow: hidden;
}

#faq .faq__box .answer p {
    font-size:1rem;
    text-align:start;
    line-height: 1.6rem;
    color: var(--dark);
    padding-right: 1rem;
    letter-spacing: 1px;
}



/* FOOTER SECTION */

#footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    background-color: #162039;
    flex-wrap: wrap;
}

#footer h3 {
    margin: 3rem 0;
    color: var(--primary);
}

#footer ul li {
    padding: .5rem 0;
    
}

#footer ul li a,
#footer ul li i{
    color: var(--pure);
    cursor: pointer;
    transition: all .3s ease;
}

#footer ul li a:hover {
    color: grey;
}

#footer .product .price,
#footer .resources .taxes {
    margin: 2rem 0;
}

#footer .product .price li:nth-child(1) a {
    color: var(--primary);
}

#footer .big__box .templates h4 {
    margin-bottom: 1rem;
    color: var(--primary);
}

#footer .bonsai__details .bonsai__affilates {
    margin-top: 1rem ;
    margin-bottom: 2rem ;
}

#footer .bonsai__details span a {
    color: var(--pure);
}

#footer .bonsai__details span a:hover {
    color: grey;
}

#footer .bonsai__details span i {
    color: var(--pure);
    cursor: pointer;
}